@import '../../scss/variable.scss';

.main {
  background-color: #f3f2fa;
  padding-top: 64px;
  padding-inline: 76px;
  padding-bottom: 50px;
  width: 100%;
}
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 64px;
  flex-wrap: wrap;
}

h2 {
  @include header;
}

.cardList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 408px));
  justify-items: center;
  align-items: stretch;
  justify-content: center;
  gap: 56px 32px;
}

@media (max-width: 890px) {
  .cardList {
  }
  .banner {
    flex-direction: column;
    row-gap: 20px;
  }
}
