@import '../../scss/variable.scss';
.card {
  max-width: 408px;
  height: 100%;
}

.img {
  margin-bottom: 24px;
  border-radius: 12px;
}

.author {
  margin-bottom: 16px;
  h4 {
    color: #0000b5;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 8px;
  }

  p {
    color: #85858d;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
  }
}

.title {
  @include card-title;
  height: 60px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
}

.filters {
  display: flex;
  flex-direction: row;
  column-gap: 16px;
  justify-content: flex-start;
  margin-bottom: 16px;

  li {
    color: #0f0f0f;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
  }
}

.description {
  @include text;
  margin-bottom: 16px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
}

.link {
  color: #5d37f3;
  font-family: FiraGO;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  display: flex;
  text-decoration: none;
}
