@import url('https://free.bboxtype.com/embedfonts/?family=FiraGO:400,500,700');

@import './variable.scss';
@import './normalize.scss';

html,
body {
  font-family: 'FiraGO', sans-serif;
}
.dflex {
  display: flex;
}

.align-center {
  align-items: center;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding-inline: 20px;
}

button {
  border: none;
  cursor: pointer;
}

// addblog

.react-select__indicator-separator {
  display: none;
}
.react-select__clear-indicator {
  display: none !important;
}
.react-select__input-container {
  margin: 0 !important;
  padding: 0 !important;
}

.back-nav-button {
  position: absolute;
  top: 9%;
  left: 9%;
  border-radius: 50%;
  background-color: #e4e3eb;
  width: 44px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  &::before {
    display: block;
    content: '';
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    width: 12px;
    height: 12px;
    transform: translateX(3px) rotate(-45deg);
  }
}
